*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

iframe
{
    width: 550px;
    height: 400px;
    min-width: 550px;
    min-height: 400px;
}